Week9-10-Projects/aPincas_Final/diaries.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" 
  ns="http://UW-LIS-diaries/ns/1.0">

  <!-- This is a schema for entries in diaries and journals.  -->

  <!-- This is the basic structure of the file. The root (outermost) element is called "journal" and it contains a "metadata" element and an "entries" element. 
    The "entries" element can contain  "pb" (pagebreak) amd "entry" elements.
    Any element that is included in a pattern using the "ref" syntax is defined in detail further down, below the "start" element
  -->
  <start>

    <element name="journal" xmlns="http://relaxng.org/ns/structure/1.0">

      <ref name="metadata-element"/>

      <element name="entries">
        <oneOrMore>
          <choice>
            <ref name="pb-element"/>
            <ref name="entry-element"/>
          </choice>
        </oneOrMore>
      </element>

    </element>
  </start>

  <!-- ************************************************************ Element Definitions ************************************************************ -->
  <!-- The definitions below use the "define" syntax. "define" is a way to name a pattern or part of a pattern so you can avoid repeating it. You can refer to everything
        inside a "define" element with the using "ref".   -->


  <!--  METADATA This is the first of the two main elements in this schema. It is called "metadata" and contains information about the source material and how the file was encoded -->
  <define name="metadata-element">
    <element name="metadata">
      <element name="sourceInfo">
        <ref name="title-element"/>
        <ref name="author-element"/>
        <element name="publisher">
          <empty/>
        </element>
      </element>

      <element name="revisions">
        <oneOrMore>
          <element name="change">
            <attribute name="when">
              <data type="date"/>
            </attribute>
            <attribute name="who"/>
            <text/>
          </element>
        </oneOrMore>
      </element>
    </element>
  </define>

  <!--  ENTRIES This is the second of the two main elements in this schema. It is called "entries" and contains information about the source material and how the file was encoded -->

  <define name="entry-element">
    <element name="entry">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <!-- This uses the XML namespace as it is defining the xml:id attribute which is defined for all elements in XML itself -->
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pb-element"/>
          <ref name="marginal-element"/>
          <element name="date">
            <attribute name="when">
              <data type="date"/>
            </attribute>
            <text/>
          </element>
          <ref name="p-element"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <!-- P and its contents -->

  <define name="p-element">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pb-element"/>
          <ref name="alternates-element"/>
          <ref name="name-element"/>
          <ref name="place-element"/>
          <ref name="deletion-element"/>
          <ref name="quote-element"/>
          <ref name="weather-element"/>
          <ref name="author-element"/>
          <ref name="title-element"/>
          <ref name="illegible-element"/>
          <ref name="marginal-element"/>
          <ref name="sobriquet-element"/>
          <ref name="info-element"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="name-element">
    <element name="name">
      <optional>
        <attribute name="role">
          <choice>
            <value>student</value>
            <value>acquaintance</value>
            <value>preacher</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="sobriquet-element"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <!-- PB Definition of the pagebreak element. It is an empty element with a @n attribute to indicate the page number. I CHANGED TO ALLOW TEXT INSIDE (to accommodate "Page 1" etc. - IS THIS BAD??  -->
  <define name="pb-element">
    <element name="pb">
      <attribute name="n">
        <data type="NCName"/>
      </attribute>
      <text/>
    </element>
  </define>

  <define name="alternates-element">
    <element name="alternates">
      <choice>
        <group>
          <element name="abbr">
            <text/>
          </element>
          <element name="expan">
            <text/>
          </element>
        </group>
        <group>
          <element name="sic">
            <text/>
          </element>
          <element name="corr">
            <text/>
          </element>
        </group>
      </choice>
    </element>
  </define>

  <define name="illegible-element">
    <element name="illegible">
      <choice>
        <empty/>
        <ref name="transcription-element"/>
      </choice>
    </element>
  </define>

  <define name="transcription-element">
    <element name="trans">
      <attribute name="who"/>
      <text/>
    </element>
  </define>

  <define name="marginal-element">
    <element name="marginal">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pb-element"/>
          <ref name="alternates-element"/>
          <ref name="name-element"/>
          <ref name="place-element"/>
          <ref name="deletion-element"/>
          <ref name="quote-element"/>
          <ref name="weather-element"/>
          <ref name="author-element"/>
          <ref name="title-element"/>
          <ref name="illegible-element"/>
          <ref name="sobriquet-element"/>
          <ref name="info-element"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="deletion-element">
    <element name="del">
      <text/>
    </element>
  </define>

  <define name="sobriquet-element">
    <element name="sobriquet">
      <attribute name="type">
        <choice>
          <value>nick</value>
          <value>epithet</value>
          <value>initial</value>
          <value>demonym</value>
        </choice>
      </attribute>
      <text/>
    </element>
  </define>

  <define name="info-element">
    <element name="info">
      <attribute name="source">
        <text/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pb-element"/>
          <ref name="alternates-element"/>
          <ref name="name-element"/>
          <ref name="place-element"/>
          <ref name="deletion-element"/>
          <ref name="quote-element"/>
          <ref name="weather-element"/>
          <ref name="author-element"/>
          <ref name="title-element"/>
          <ref name="illegible-element"/>
          <ref name="sobriquet-element"/>
          <ref name="info-element"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="quote-element">
    <element name="quote">
      <optional>
        <attribute name="type">
          <choice>
            <value>dialog</value>
            <value>text</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="pb-element"/>
          <ref name="cite-element"/>
          <ref name="place-element"/>
          <ref name="deletion-element"/>
          <ref name="quote-element"/>
          <ref name="weather-element"/>
          <ref name="author-element"/>
          <ref name="name-element"/>
          <ref name="title-element"/>
          <ref name="illegible-element"/>
          <ref name="alternates-element"/>
          <ref name="sobriquet-element"/>
          <ref name="info-element"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="cite-element">
    <element name="cite">
      <attribute name="source"/>
      <choice>
        <text/>
        <empty/>
      </choice>
    </element>
  </define>

  <define name="weather-element">
    <element name="weather">
      <optional>
        <attribute name="precip">
          <choice>
            <value>none</value>
            <value>rain</value>
            <value>sleet</value>
            <value>snow</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="temp">
          <choice>
            <value>cold</value>
            <value>cool</value>
            <value>thaw</value>
            <value>warm</value>
            <value>hot</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="sky">
          <choice>
            <value>clear</value>
            <value>cloudy</value>
            <value>partial</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="quality">
          <choice>
            <value>pretty</value>
            <value>gloomy</value>
          </choice>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>

  <define name="title-element">
    <element name="title">
      <text/>
    </element>
  </define>

  <define name="author-element">
    <element name="author">
      <choice>
        <ref name="name-element"/>
        <text/>
      </choice>
    </element>
  </define>

  <define name="place-element">
    <element name="place">
      <optional>
        <attribute name="country">
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute name="usState">
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute name="town">
          <text/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>

</grammar>
